@model AutomobileWebsite.Presentation.Mvc.Administrator.ViewModels.CarFormViewModel

@{
    ViewData["Title"] = "CarForm";
}
<h4>@Model.Heading</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="@Model.Action">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="DealershipId" class="control-label"></label>
                <select asp-for="DealershipId"
                        asp-items="@(new SelectList(Model.Dealerships, "DealershipId", "DealershipName"))"
                        id="dealership-select"
                        class="form-control">
                    <option value="0">All</option>
                </select>
                <span asp-validation-for="DealershipId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DealershipAddressId" class="control-label"></label>
                <select asp-for="DealershipAddressId"
                        asp-items="@(new SelectList(Model.DealershipAddresses, "DealershipAddressId", "Address"))"
                        id="dealership-address-select"
                        class="form-control">
                    <option selected disabled>Select Address</option>
                </select>
                <span asp-validation-for="DealershipAddressId" id="dealership-address-select-error-message" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Year" class="control-label"></label>
                <input asp-for="Year" class="form-control" />
                <span asp-validation-for="Year" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Make" class="control-label"></label>
                <input asp-for="Make" class="form-control" />
                <span asp-validation-for="Make" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Model" class="control-label"></label>
                <input asp-for="Model" class="form-control" />
                <span asp-validation-for="Model" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Trim" class="control-label"></label>
                <input asp-for="Trim" class="form-control" />
                <span asp-validation-for="Trim" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Mileage" class="control-label"></label>
                <input asp-for="Mileage" class="form-control" />
                <span asp-validation-for="Mileage" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Price" class="control-label"></label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="IsNew" id="is-new" /> @Html.DisplayNameFor(model => model.IsNew)
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="@Model.SaveButtonText" class="btn btn-primary" />
            </div>
        </form>
        @if (!string.IsNullOrWhiteSpace(Model.SuccessMessage))
        {
            <label id="success-message">@Model.SuccessMessage</label>

        }
        else if (!string.IsNullOrWhiteSpace(Model.ErrorMessage))
        {
            <div id="error-message">@Model.ErrorMessage</div>
        }
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script src="~/js/car-form.js" type="text/javascript"></script>
    <script src="~/js/CustomClientValidationAttributes/max-mileage-new-car.js"></script>
}

